<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <!-- Style -->
    <link rel="stylesheet" href="../../resources/styles/css/dashboard/Index.css">
    <link rel="stylesheet" href="../../resources/styles/css/dashboard/'.$archivo.'.css">
    <link rel="stylesheet" href="../../resources/styles/css/dashboard/materialIcons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
</head>
<body>
<br>
    <div class="container">
        <div class="row justify-content-center" style="margin-top: 0px;">
            <img src="../../resources/imageFiles/dashboard/administradores/undraw_monitor_iqpq.svg" style="width: 600px; height: 600px;" class="justify-content-center">
            <h1 class="text-center" style="margin-top: 50px;">Se le ha desconectado de la sesión por inactividad, vuelva a iniciar sesión
                <a href="/ninety-seven_hearts_PRUEBA/views/dashboard/index.php">AQUÍ </a>.</h1>
        </div>
        <br>
    </div>  
<div class="separador"></div>
</body>
</html>