node_modules

# Ignorando las imágenes de los administradores
resources/imageFiles/dashboard/administradores/*jpg
resources/imageFiles/dashboard/administradores/*png
resources/imageFiles/dashboard/administradores/*gif

# Ignorando las imagenes del catalogo
resources/imageFiles/dashboard/catalogo/*jpg
resources/imageFiles/dashboard/catalogo/*png
resources/imageFiles/dashboard/catalogo/*gif

# Ignorando las imagenes de las categorias
resources/imageFiles/dashboard/categorias/*jpg
resources/imageFiles/dashboard/categorias/*png
resources/imageFiles/dashboard/categorias/*gif
