@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}


 #wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;

  background: #822659 !important;
  color: white;

  position: relative !important;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

.list-group-item{
    background: #822659 !important;
    color: white !important;

    /* margin: 0px 15px; */
    /* width: 210px !important;  */
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.list-group-item:hover {
    background: rgb(102, 102, 102) !important;
}

.list-group-item:active {
    background: rgb(70, 70, 70) !important;
}

/*********************/

.sidebar--img {
    background: rgba(255, 255, 255, 0.85);
    display: flex;
    justify-content: center;
    margin: 15px 15px;
    border-radius: 20px;
}

#sidebar--img__logo {
    width: 175px;
    padding: 15px;
}

.sidebar--separator {
    display: flex;
    justify-content: center;
    margin: 0px 15px 15px 15px;
}

.sidebar--separator__line {
    width: 100%;
    height: 1px;
    background: white;
}

.sidebar--info__container {
    width: 175px;
    margin: 0px 15px 15px;
    display: flex;
    flex-direction: row;
}

#info--img__user {
    border-radius: 40px;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.sidebar--info__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar--info__data p {
    font-size: 14px;
    margin-bottom: 0px;
}

.sidebar--info__text {
    color: rgb(155, 155, 155);
}

.card {
    border: none !important;
    border-radius: none !important;
}

.card-header {
    background: #631B43 !important;
}

.card-body {
    padding: 0px !important;
    background: #822659;
}

.btn--header__texto {
    color: white !important;
    outline: none !important;
    padding-left: 0px !important;
}

.btn--header__texto:hover {
    text-decoration-line: none !important;
}

.btn--boton__texto {
    padding-left: 25px !important;
}

#logout--button {
    background: #631B43 !important;

    position: absolute !important;
    bottom: 0px;
}

.btn--boton__icon {
    width: 40px;
    margin-right: 10px;
}

.btn--boton__menu {
    background: #822659 !important;
}

.boton--menu__icon {
    width: 25px;
}

/****************************** RESPONSIVE *********************************/


@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}


@media only screen and (max-width: 660px) {
    .btn--boton__icon {
        display: none;
    }
}
