.icons {
    display: flex;
    justify-content: center;
    width: auto;
}

.material-icons.red { 
    color: white; 
    background-color: #ce0000;
    border-radius: 5px;
    padding: 8px;
    margin: 0px 5px;
}

.material-icons.blue {
    color: white; 
    background-color: #0062ca;
    border-radius: 5px;
    padding: 8px;
    margin: 0px 5px;
}

.material-icons.green {
    color: white; 
    background-color: #00a816;
    border-radius: 5px;
    padding: 8px;
    margin: 0px 5px;
}

.add--icon__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-right: 10px;
}