#jumbo-Camisetas {
    background-image: url(https://www.almacenessi.com/arquivos/BannerMujeresCamisetas.jpg?v=636917953698830000);
    background-color: rgb(100,100,100);
    background-blend-mode: soft-light;
    text-align: center;
    color: #ffffff;
}