#jumbo-Hogareña {
    background-image: url(https://kukuxumusu.com/modules/revsliderprestashop/uploads/banners%20octubre%202020-01.jpg);
    background-color: rgb(100,100,100);
    background-blend-mode: soft-light;
    text-align: center;
    color: #ffffff;
}