#jumbo-Pantalones {
    background-image: url(https://leviscl.vteximg.com.br/arquivos/ids/212189/Fit_guide_women_desktop.jpg?v=636822296257700000);
    background-color: rgb(100,100,100);
    background-blend-mode: soft-light;
    text-align: center;
    color: #ffffff;
}