#jumbo-Nosotros {
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190617/ourmid/pngtree-pink-simple-fashion-women-s-clothing-store-home-background-image_129128.jpg);
    background-color: rgb(100,100,100);
    background-blend-mode: soft-light;
    text-align: center;
    color: #ffffff;
}

#sobre {
    background-color: #FBD1CF;
}

#titulo {
    background-color: #d8d8d8c9
}